[Desktop Entry]
Version=1.0
Type=Application
Name=Format USB-Disk
Comment=Prepare Disk 4 AmutaQ! Backup
Exec=/usr/local/bin/gksudo /opt/AmutaQ!/tools/x-formatdisk
Icon=drive-removable-media
Path=/opt/AmutaQ!/tools
Terminal=false
StartupNotify=false
