#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Open crypted bufferdisk
Type=Application
Exec=/usr/bin/gnome-terminal --command "/opt/AmutaQ!/crypt/cryptdisk_open_bufferdisk"
#Terminal=true
