[Desktop Entry]
Version=1.0
Type=Application
Name=usv conf
Comment=
Exec=/usr/local/bin/gksudo /opt/ups/startupsman conf
Icon=ac-adapter
Path=/opt/ups/startupsman
Terminal=false
StartupNotify=true
