[Desktop Entry]
Version=1.0
Type=Application
Name=usv conf
Comment=
Exec=/usr/local/bin/gksudo /usr/ups/startupsman conf
Icon=ac-adapter
Path=/usr/ups/startupsman
Terminal=false
StartupNotify=true
